body{
    background-color: rgb(163, 163, 163);
    color: rgb(5, 5, 5);
    font-family: 'TheGoodMonolith', sans-serif;

    overflow: scroll;
    overflow: hidden
}

.article-img{
    height: 40%;
    width: 40%; 
    margin-bottom: 5%; 
    border-radius: 10%;
}

.articleList
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));;
    list-style-type:none;
    padding:0px;
    margin:0px;
    justify-content: center;
    align-items: center;

    
    
}
.articleList2
{
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: 70%;
    max-height: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    

    
}

.articleList2 a:link { 
    text-decoration: none; 
  } 
.articleList2 a:visited { 
    text-decoration: none; 
  } 
.articleList2 a:hover { 
    text-decoration: none;
}
.articleList2 a:active { 
    text-decoration: none; 
  }

.articleList2 a {
text-align: left;
color: rgb(0, 0, 0);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ff0000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
  .articleList {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .articleList2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@media (max-width: 480px) {
  .articleList {
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .articleList2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}