body{
    background-color: rgb(163, 163, 163);
    color: rgb(5, 5, 5);
    font-family: 'TheGoodMonolith', sans-serif;
    overflow-y: hidden;
}

.article-img{
    height: 25vh;
    width: 15vw; 
    margin-bottom: 5%; 
    border-radius: 10%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articleList
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type:none;
    padding:0px;
    margin:0px;
    
    
}
.articleList2
{
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    

    
}

.articleList2 a:link { 
    text-decoration: none; 
  } 
.articleList2 a:visited { 
    text-decoration: none; 
  } 
.articleList2 a:hover { 
    text-decoration: none;
}
.articleList2 a:active { 
    text-decoration: none; 
  }

.articleList2 a {
text-align: left;
color: rgb(0, 0, 0);
}
