.commentList2
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 75%;
    border: dashed;
    margin: 5px;
    box-sizing: border-box;
}

.commentList2 p {
text-align: left;
margin: 5px;
}

.commentList2 button{
    width: 10vw;
}

.commentList{
    margin: 0;
    padding: 0;
    width: 100%;

}
.commentList3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: dashed rgb(0, 0, 0);
    width: 96%;
    height: 95%;
}

.commentForm{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.commentForm textArea {
    width: 95%;
    height: 75%;
    border: dashed;
    margin: 5px;

}

.commentForm button {
    width: 20vw;
}

.commentSuccess{
    text-align: center;
    width: 95%;
    height: 75%
}