.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80vh;
    }
    
    
.article-image{
    border-radius: 75%;
    height: 20vh;
    width: 11vw;
}

.div1 { grid-area: 1 / 1 / 6 / 4; 
    text-align: center;
    border: solid rgb(0, 0, 0);
    border-radius: 10%;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    overflow: auto;
    overflow-x: hidden;

}
.div2 { grid-area: 1 / 4 / 3 / 7; 
    text-align: center;
    border: solid rgb(0, 0, 0);
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    overflow: auto;
    display: flex;
}
.div3 { grid-area: 3 / 4 / 6 / 7; 
    text-align: center;
    border: solid rgb(0, 0, 0);
    display: flex;
    align-items: cen;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    overflow: auto;
    overflow-x: hidden;
}
.articleContent {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.articleContentTitle{
    text-align: center;
    margin-bottom: 5%;
}